/* CSS Document for BeYoungBro's*/

/* Container */
.container {
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lightskyblue;
    padding: 10px 0;
    box-sizing: border-box;  /* includes padding in width */
}

/* Navbar (top) */
.navbar ul{
    list-style: none;        /* remove bullets */
    background-color: lightslategray;
    text-align: center;     /* centers inline-block items below */
    padding: 1opx 0;    /* space above and below */
    margin: 0;              /* remove default margin */
}
.navbar li{
    display: inline-block;   /* horizontal listing */
    margin: 0 15px;      /* space between items */
}

/* Header (second) */
.header {
    background-color: lightsalmon;
    text-align: center;
    font-family: cursive;
    padding 12px 16px;
}

/* Image (third) */
.homeimage {
    display: inline-block;
    max-width: 100%;
    height: auto;
}